* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  background-color: #ec715f;
  display: flex;
  justify-content: center;
}

.nav-list {
  width: 1024px;
  display: inline-block;
}

h1 img {
  height: 70px;
  float: left;
}

.nav-list-item {
  float: right;
  line-height: 70px;
}

li {
  display: inline;
  font-size: 16px;
  color: #fafafa;
  padding-left: 30px;
  padding-right: 30px;
}

.main-visual {
  height: 650px;

  display: flex;
  justify-content: center;
  background-image: url("img 2/mv.png");
  background-size: contain;
  background-position: bottom;
}

.main-visual-content {
  padding-top: 200px;
}

h2 {
  font-size: 64px;
  color: #fafafa;
  text-align: center;
}

.main-visual-content h4 {
  font-size: 20px;
  margin-top: 10px;
  color: #fafafa;
  text-align: center;
}

.background {
  background-color: #eceff1;
}

.portfolio {
  width: 920px;
  margin: auto;
  padding: 90px 0;
}

h3 {
  font-size: 32px;
  text-align: center;
  color: #000000;
  position: relative;
}

h3:after {
  content: "";
  display: inline-block;
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -5px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.portfolio-image {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-image-item {
  width: 300px;
  height: 250px;
  margin-right: 10px;
  background-size: cover;
  background-position: bottom;
}

.portfolio-image-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-image-item:nth-last-child(-n + 3) {
  margin-top: 10px;
}

.portfolio-image-item:nth-child(1) {
  background-image: url("img 2/sketch.jpg");
}

.portfolio-image-item:nth-child(2) {
  background-image: url("img 2/websuku.png");
}

.portfolio-image-item:nth-child(3) {
  background-image: url("img 2/write.jpg");
}

.portfolio-image-item:nth-child(4) {
  background-image: url("img 2/webcamp.png");
}

.portfolio-image-item:nth-child(5) {
  background-image: url("img 2/talk.jpg");
}

.portfolio-image-item:nth-child(6) {
  background-image: url("img 2/webcamp-mother.png");
}

h4 {
  font-size: 20px;
}

p {
  text-align: center;
}

.text {
  margin: 30px auto;
}

.feature {
  width: 980px;
  margin: 0 auto;
  padding: 90px 0;
}

.feature-content {
  display: flex;
  justify-content: center;
}

.feature-content-item {
  width: 320px;
}

.feature-content-item:nth-child(2) {
  margin: 0 10px;
}
